<div class="content">

    <span>{{ title }} app is running!</span>

    <div class="layout">

      <h1 class="page-title">Sign Up</h1>

      <form class="signup-form" [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <div class="form-element">
          <label for="username">User Name</label>
          <input type="text" id="username" name="username" autocomplete="off" formControlName="username">
        </div>

        <div class="form-element">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" autocomplete="off" formControlName="password">
        </div>

        <div class="form-element">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" autocomplete="off" formControlName="email">
        </div>

        <div class="form-element">
          <label for="team">Team</label>
          <select name="team" id="team" formControlName="team">
            <option class="option" value=""></option>
            <option *ngFor="let team of teamList" class="option" [ngValue]="team.id">{{ team.name}}</option>
          </select>
        </div>

        <div class="form-element">
          <label >Gender</label>
          <div>
            <input type="radio" id="male" name="gender" value="M" formControlName="gender">
            <label for="male">Male</label>
          </div>
          <div>
            <input type="radio" id="female" name="gender" value="F" formControlName="gender">
            <label for="male">Female</label>
          </div>
        </div>


        <div>
          <input type="checkbox" id="subscription" name="subscription"  formControlName="subscription">
          <label for="subscription">Subscription to the New Letter</label>
        </div>


        <div class="form-element">
          <button type="submit">Submit</button>
        </div>

      </form>

    </div>

</div>



